* {
    margin: 0;
    padding: 0;            
    font: normal 12px "noto sans korean";
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > div:nth-child(1) {
    height: 44px;
    background: #f3f3f3;
}

header > div:nth-child(2) {
    height: 110px;
}

header > div:nth-child(3) {
    height: 46px;
    background: #564f47;
}

header > div > * {
    width: 1126px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

header .top {
    float: right;
    margin-top: 6px;
}


header .ico {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 30px;
    background-image: url('../images/sprites.png');
}

header .ico.user {
    position: relative;
    top: 5px;
    background-position: 0 -504px;
}

header .ico.cart {
    background-position: 0-487px;
}

header section {
    position: relative;
}

header section > .logo {
    position: absolute;
    left: 0;
    bottom: 10px;
}

header section > .banner {
    position: absolute;
    right: 0;
    bottom: 10px;
}

nav > .gnb > li > a {
    display: inline-block;
    width: 16.6%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 46px;
    font-family: arial;
    font-weight: bold;
    color: #b0a171;
    font-size: 15px;
    background-color: #464545;
}

nav > .gnb > li > a:hover {
    background-color: #396340;
    color: #fff;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

main > section {
    width: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
}

main > section:nth-child(1) {
    height: 480px;
}
main > section:nth-child(2) {
    height: auto;
}
main > section:nth-child(3) {
    height: 620px;
}
main > section:nth-child(4) {
    height: 220px;
}
main > section:nth-child(5) {
    height: auto;
}
main > section:nth-child(6) {
    height: 220px;
}
main > section:nth-child(6) {
    height: auto;
}

main > section > article {
    width: 1126px;
    height: 100%;
    margin: 0 auto;
}

main > .banner > article {
    position: relative;
}

main > .banner > article > img:nth-child(1) {
    position: absolute;
    top: 30px;
    left: 10px;
}

main > .banner > article > img:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 460px;
}

main > .banner > article > img:nth-child(3) {
    position: absolute;
    top: 150px;
    left: 460px;
}

main > .new > article {
    height: 480px;
}

main > .new > article > div {
    float: left;
    width: 345px;
    box-sizing: border-box;
    position: relative;
}


main > .new div > span > strong {
    font-size: 32px;
    color: #c3d069;
    font-weight: bold;
}

main > .new > article > div:nth-child(1) {
    width: 434px;
    height: 100%;
    background-image: url(../images/main_new_img1.jpg);
    border: 1px solid #d4d4d4;
}

main > .new > article > div:nth-child(2) > img {
   position: absolute;
   left: 20px;
   top: 20px;
}

main > .new > article > div:nth-child(3) > img {
    position: absolute;
    right: 10px;
    bottom: 10px;
 }

 main > .new > article > div:nth-child(4) > img {
    position: absolute;
    right: 0;
    bottom: 0;
 }

 main > .new > article > div:nth-child(5) > img {
    position: absolute;
    right: 0;
    bottom: 0;
 }

 main > .new > article > div:nth-child(2) > span:nth-of-type(1) {
    position: absolute;
    left: 130px;
    top: 50px;
 }

 main > .new > article > div:nth-child(3) > span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    top: 50px;
 }

 main > .new > article > div:nth-child(4) > span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    top: 50px;
 }

 main > .new > article > div:nth-child(5) > span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    top: 50px;
 }

 main > .new > article > div:nth-child(2) > span:nth-of-type(2) {
    position: absolute;
    left: 130px;
    top: 100px;
 }

 main > .new > article > div:nth-child(3) > span:nth-of-type(2) {
    position: absolute;
    left: 20px;
    top: 80px;
 }

 main > .new > article > div:nth-child(4) > span:nth-of-type(2) {
    position: absolute;
    left: 20px;
    top: 100px;
 }

 main > .new > article > div:nth-child(5) > span:nth-of-type(2) {
    position: absolute;
    left: 20px;
    top: 94px;
 }

main > .new > article > div:nth-child(1) .price {
    position: absolute;
    right: 15px;
    bottom: 20px;
}

main > .new > article > div:nth-child(2) .price {
    position: absolute;
    right: 15px;
    bottom: 20px;
}

main > .new > article > div:nth-child(3) .price {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

main > .new > article > div:nth-child(4) .price {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

main > .new > article > div:nth-child(5) .price {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

main > .new > article > div:nth-child(1) > .txt {
    left: 40px;
    top: 60px;
    position: absolute;
    font-size: 27px;
    color: #564f47;
}

main > .new > article > div:nth-child(1) > .tit {
    left: 40px;
    top: 116px;
    position: absolute;
    font-size: 26px;
    color: white;
    padding: 4px 6px;
    background-image: url(../images/bg_transparent.png);
}

main > .new > article > div:nth-child(2) {
    height: 50%;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}

main > .new > article > div:nth-child(2) > .txt {
    left: 130px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
}

main > .new > article > div:nth-child(2)>.tit {
    left: 130px;
    top: 90px;
    font-size: 28px;
    color: #899b34;
}

main > .new > article > div:nth-child(3) {
    height: 50%;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

main > .new > article > div:nth-child(3) > .txt {
    left: 130px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
}

main > .new > article > div:nth-child(3)>.tit {
    left: 130px;
    top: 90px;
    font-size: 28px;
    color: #358a00;
}

main > .new > article > div:nth-child(4) {
    height: 50%;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

main > .new > article > div:nth-child(4) > .txt {
    left: 130px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
}

main > .new > article > div:nth-child(4)>.tit {
    left: 130px;
    top: 90px;
    font-size: 28px;
    color: #c51a1a;
}

main > .new > article > div:nth-child(5) {
    height: 50%;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

main > .new > article > div:nth-child(5) > .txt {
    left: 130px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
}

main > .new > article > div:nth-child(5)>.tit {
    left: 130px;
    top: 90px;
    font-size: 28px;
    color: #9e7839;
}

main > .new div > .price {
    color: #ef9120;
    font-size: 30px;
}

main > section > h3 {
    text-align: center;
    font-size: 27px;
    color: #564f47;
    margin-bottom: 40px;
}

main > section > h3 > strong {
    font-size: 27px;
    font-weight: bold;
    color: #699270;
}

.price::after {
    content:'ì›';
    color: #ef9120;
    font-size: 18px;
}


main > .master > article > div {
    float: left;
    width: 25%;
    height: 334px;
    box-sizing: border-box;
}


main .gallary {
   overflow: hidden;
}

main .gallary > div {
    float: left;
    width: 25%;
    height: 400px;
    border: 1px solid pink;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
}

footer > div {
    width: 1126px;
    height: 210px;
    border: 1px solid green;
    box-sizing: border-box;
    margin: 0 auto;
}